<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Rpi</title>
  <link rel="stylesheet" href="lib/material-icons.css">
  <link rel="stylesheet" href="lib/material.indigo-pink.min.css">
</head>
<body>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title">專題</span>
      <div class="mdl-layout-spacer"></div>
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <a href="<%= stream %>" class="mdl-navigation__link">Camera Address: <%= stream %></a>
      </nav>
    </div>
  </header>
  <%- include includes/sidebar.ejs %>
  <main class="mdl-layout__content">
    <%- include main.ejs %>
  </main>
  <%- include includes/footer.ejs %>
</div>

<!-- <button id="camera">Start/Stop Camera</button> -->
<!-- <button id="test">Post Test</button> -->
<script src="lib/jquery.min.js"></script>
<script src="lib/material.min.js"></script>
<script src="js/test.js"></script>
<script src="js/stream.js"></script>
<script src="js/sonic.js"></script>
<script src="js/move.js"></script>
<script type="text/javascript">
sonic_init()
$(document).ready(function () {
  stream_init("<%= stream %>")  
})
</script>
</body>
</html>
